In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("datasets\clean_data.csv")

In [9]:
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
0,Ahmedabad,2015-01-01,67.450578,118.127103,0.92,18.22,17.15,23.483476,0.92,27.64,133.36,0.00,0.02,0.00,166.463581
1,Ahmedabad,2015-01-02,67.450578,118.127103,0.97,15.69,16.46,23.483476,0.97,24.55,34.06,3.68,5.50,3.77,166.463581
2,Ahmedabad,2015-01-03,67.450578,118.127103,17.40,19.30,29.70,23.483476,17.40,29.07,30.70,6.80,16.40,2.25,166.463581
3,Ahmedabad,2015-01-04,67.450578,118.127103,1.70,18.48,17.97,23.483476,1.70,18.59,36.08,4.43,10.14,1.00,166.463581
4,Ahmedabad,2015-01-05,67.450578,118.127103,22.10,21.42,37.76,23.483476,22.10,39.33,39.31,7.01,18.89,2.78,166.463581

In [10]:
# Function to categorize PM2.5 values
def categorize_pm(pm_value):
    if pm_value <= 30:
        return "Very Good"
    elif pm_value <= 60:
        return "Good"
    elif pm_value <= 90:
        return "Poor"
    elif pm_value <= 120:
        return "Very Poor"
    elif pm_value <= 250:
        return "Severe"
    else:
        return "Hazardous"

# Apply the function to create the 'category' column
df['PM2.5_category'] = df['PM2.5'].apply(categorize_pm)

In [11]:
# Function to categorize PM10 values
def categorize_pm10(pm_value):
    if pm_value <= 50:
        return "Very Good"
    elif pm_value <= 100:
        return "Good"
    elif pm_value <= 250:
        return "Average"
    elif pm_value <= 350:
        return "Poor"
    elif pm_value <= 430:
        return " Very Poor"
    else:
        return "Severe"

# Apply the function to create the 'category' column
df['PM10_category'] = df['PM10'].apply(categorize_pm10)

In [12]:
# Function to categorize PM10 values
def categorize_pm10(pm_value):
    if pm_value <= 50:
        return "Very Good"
    elif pm_value <= 100:
        return "Good"
    elif pm_value <= 250:
        return "Average"
    elif pm_value <= 350:
        return "Poor"
    elif pm_value <= 430:
        return "Very Poor"
    else:
        return "Hazardous"

# Apply the function to create the 'category' column
df['PM10_category'] = df['PM10'].apply(categorize_pm10)

In [13]:
# Function to categorize NO2 values
def categorize_NO2(no2_value):
    if no2_value <= 40:
        return "Very Good"
    elif no2_value <= 80:
        return "Good"
    elif no2_value <= 180:
        return "Average"
    elif no2_value <= 280:
        return "Poor"
    elif no2_value <= 400:
        return "Very Poor"
    else:
        return "Severe"

# Apply the function to create the 'category' column
df['NO2_category'] = df['NO2'].apply(categorize_NO2)

In [14]:
# Function to categorize CO values
def categorize_CO(co_value):
    if co_value <= 1:
        return "Very Good"
    elif co_value <= 2:
        return "Good"
    elif co_value <= 10:
        return "Average"
    elif co_value <= 17:
        return "Poor"
    elif co_value <= 34:
        return "Very Poor"
    else:
        return "Severe"

# Apply the function to create the 'category' column
df['CO_category'] = df['CO'].apply(categorize_CO)

In [15]:
# Function to categorize SO2 values
def categorize_SO2(so2_value):
    if so2_value <= 40:
        return "Very Good"
    elif so2_value <= 80:
        return "Good"
    elif so2_value <= 380:
        return "Average"
    elif so2_value <= 800:
        return "Poor"
    elif so2_value <= 1600:
        return "Very Poor"
    else:
        return "Severe"

# Apply the function to create the 'category' column
df['SO2_category'] = df['SO2'].apply(categorize_SO2)

In [16]:
# Function to categorize CO values
def categorize_O3(o3_value):
    if o3_value <= 50:
        return "Very Good"
    elif o3_value <= 100:
        return "Good"
    elif o3_value <= 168:
        return "Average"
    elif o3_value <= 208:
        return "Poor"
    elif o3_value <= 748:
        return "Very Poor"
    else:
        return "Severe"

# Apply the function to create the 'category' column
df['O3_category'] = df['O3'].apply(categorize_O3)

In [17]:
import pandas as pd

# Assuming df is your DataFrame
# Rearranging the columns
df = df.reindex(columns=['City', 'Date', 'PM2.5', 'PM2.5_category', 'PM10', 'PM10_category', 'NO', 'NO2','NO2_category', 'NOx', 'NH3', 'CO', 'CO_category', 'SO2', 'SO2_category', 'O3','O3_category', 'Benzene', 'Toluene', 'Xylene', 'AQI'])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   City            29531 non-null  object
 1   Date            29531 non-null  object
 2   PM2.5           29531 non-null  float64
 3   PM2.5_category  29531 non-null  object
 4   PM10            29531 non-null  float64
 5   PM10_category   29531 non-null  object
 6   NO              29531 non-null  float64
 7   NO2             29531 non-null  float64
 8   NO2_category    29531 non-null  object
 9   NOx             29531 non-null  float64
 10  NH3             29531 non-null  float64
 11  CO              29531 non-null  float64
 12  CO_category     29531 non-null  object
 13  SO2             29531 non-null  float64
 14  SO2_category    29531 non-null  object
 15  O3              29531 non-null  float64
 16  O3_category     29531 non-null  object
 17  Benzene         29531 non-null  float64
 18  Toluene         29531 non-null  float64
 19  Xylene          29531 non-null  float64
 20  AQI             29531 non-null  float64
dtypes: float64(13), object(8)
memory usage: 4.7+ MB

In [19]:
df.head()

,City,Date,PM2.5,PM2.5_category,PM10,PM10_category,NO,NO2,NO2_category,NOx,...,CO,CO_category,SO2,SO2_category,O3,O3_category,Benzene,Toluene,Xylene,AQI
0,Ahmedabad,2015-01-01,67.450578,Poor,118.127103,Average,0.92,18.22,Very Good,17.15,...,0.92,Very Good,27.64,Very Good,133.36,Average,0.00,0.02,0.00,166.463581
1,Ahmedabad,2015-01-02,67.450578,Poor,118.127103,Average,0.97,15.69,Very Good,16.46,...,0.97,Very Good,24.55,Very Good,34.06,Very Good,3.68,5.50,3.77,166.463581
2,Ahmedabad,2015-01-03,67.450578,Poor,118.127103,Average,17.40,19.30,Very Good,29.70,...,17.40,Very Poor,29.07,Very Good,30.70,Very Good,6.80,16.40,2.25,166.463581
3,Ahmedabad,2015-01-04,67.450578,Poor,118.127103,Average,1.70,18.48,Very Good,17.97,...,1.70,Good,18.59,Very Good,36.08,Very Good,4.43,10.14,1.00,166.463581
4,Ahmedabad,2015-01-05,67.450578,Poor,118.127103,Average,22.10,21.42,Very Good,37.76,...,22.10,Very Poor,39.33,Very Good,39.31,Very Good,7.01,18.89,2.78,166.463581

In [20]:
df.to_csv('clean_category_data.csv', index=False)

In [21]:
print(df.columns)

Index(['City', 'Date', 'PM2.5', 'PM2.5_category', 'PM10', 'PM10_category',
       'NO', 'NO2', 'NO2_category', 'NOx', 'NH3', 'CO', 'CO_category', 'SO2',
       'SO2_category', 'O3', 'O3_category', 'Benzene', 'Toluene', 'Xylene',
       'AQI'],
      dtype='object')